html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  line-height: 1.5;
  font-family: Overpass, sans-serif;
  color: #fff;
  background-image: linear-gradient(#ff9500, #ff5e3a);
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 1.5rem;
}

h2 {
  font-size: 2rem;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  text-align: center;
}

p {
  font-size: 1.125rem;
  text-align: left;
}
